body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.board {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.board .row {
    display: flex;
    flex-direction: row;
}

.board .row .square {
    border: 1px solid grey;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    margin: 2px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    user-select: none;
    animation-name: none;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-duration: 0.5s;
}

@keyframes flip {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}

.square.correct {
    background-color: #198b3f;
    animation-name: flip;
    animation-duration: 0.5s;
    border-color: #198b3f !important;
}

.square.misplaced {
    background-color: #c7b02b;
    border-color: #c7b02b !important;
}

.square.guessed {
    background-color: #616161;
    border-color: #616161 !important;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.keyboard .row {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keyboard .row .key {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    color: #1d1d1d;
    background-color: grey;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    border: 1px solid grey;
}

.keyboard .row .key:active {
    background-color: darkgrey;
}

.keyboard .row .key.faded {
    background-color: #1d1d1d;
    color: grey;
    border: 1px solid grey;
}

#keyboardrow4enter {
    background-color: #15688f;
    border: 1px solid #15688f;
    font-weight: bolder;
    width: 70px;
}

#keyboardrow4enter:active {
    background-color: #1980af;
}

#keyboardrow4delete {
    background-color: #b9492d;
    border: 1px solid #b9492d;
    width: 70px;
}

#keyboardrow4delete:active {
    background-color: #e45835;
}

#keyboardrow4reload {
    text-decoration: none;
    background-color: #1c9261;
    border: 1px solid #1c9261;
    font-weight: bolder;
    width: 70px;
}

#keyboardrow4reload:active {
    background-color: #29c785;
}

.attribution {
    position: fixed;
    color: lightgrey;
    bottom: 20px;
    right: 20px;
    width: fit-content;
    line-height: 5px;
    z-index: -1;
}

#alert-answer {
    display: none;
    position: absolute;
    top: 30px;
    margin: auto;
    background-color: #326335e5;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    animation-name: none;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes slide-down {
    from {
        top: -100px;
    }

    to {
        top: 30px;
    }
}

@keyframes slide-up {
    from {
        top: 30px;
    }

    to {
        top: -100px;
    }
}

#alert-answer-text {
    font-weight: bold;
    color: whitesmoke;
}

#alert-fake-word {
    display: none;
    position: absolute;
    top: 30px;
    margin: auto;
    background-color: #c03921c5;
    align-items: center;
    width: max-content;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    animation-name: none;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

#alert-fake-word-text {
    color: whitesmoke;
}

.banner {
    display: none;
    position: fixed;
    top: 20vh;
    height: 50vh;
    background: linear-gradient(180deg, #d3d3d3a4, #818181c2);
    color: #1d1d1d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #201e1e5e;
    font-weight: bolder;
}

.banner #reload-button {
    width: max-content;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #1c9261;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.banner #close-button {
    width: max-content;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #e45835;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive styling. Added 31/03/23 by Eti-ini Effiong-Robert!*/

@media only screen and (max-width: 768px) {
    .keyboard .row .key {
        width: 30px;
        height: 35px;
        font-size: 25px;
    }

    .attribution {
        font-size: 12px;
        margin: auto;
        z-index: -1;
    }

    #keyboardrow4enter,
    #keyboardrow4delete,
    #keyboardrow4reload {
        width: 40px;
    }
}