body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.board {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.board .row {
    display: flex;
    flex-direction: row;
}
.board .row .square {
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    margin: 2px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.square.correct {
    background-color: #076325;
}
.square.misplaced {
    background-color: #f5c423;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    cursor: pointer;
    user-select: none;
}
.keyboard .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.keyboard .row .key{
    color: #1d1d1d;
    background-color: grey;
    width: 50px;
    height: 55px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
}

#keyboardrow3enter {
    background-color: #15688f;
}
#keyboardrow3delete {
    background-color: #b9492d;
}
.attribution {
    position: fixed;
    color: lightgrey;
    bottom: 20px;
    right: 20px;
    width: fit-content;
    line-height: 5px;
}